@import "tailwindcss";
@import "tailwindcss/preflight";


  .bg-emerald-600 {
    background-color: #059669 !important;
  }

  .hover\\:bg-emerald-700:hover {
    background-color: #047857 !important;
  }

  .text-emerald-400 {
    color: #34d399 !important;
  }

  .hover\\:text-emerald-300:hover {
    color: #6ee7b7 !important;
  }
  .font-extrabold {
    font-weight: 800 !important;
  }
  .font-bold {
    font-weight: 700 !important;
  }
  .text-gray-400 {
    color: #9ca3af;
  }
  .hover\:bg-red-900\/50:hover {
    background-color: rbga(76, 29, 29, 0.5);
  }
  .hover\:text-red-500:hover {
    color: #ef4444;
  }

  .center-full-viewport {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  }